$tablet-width: 768px;
$desktop-width: 1024px;
$large-width: 1200px;
$very-large: 1650px;

@mixin breakpoint($width) {
  @media only screen and (min-width: $width) {
    @content;
  }
}

@mixin maxBreakpoint($width) {
  @media only screen and (max-width: $width) {
    @content;
  }
}
