*,
*::before,
*::after {
  box-sizing: border-box;
}
html,
body,
div,
span,
h1,
h2,
h3,
h4,
input,
label,
button,
ul,
li,
a,
a:visited {
  color: inherit;
  font-family: inherit;
  font-size: 100%;
  line-height: 1;
  margin: 0;
  padding: 0;
}
a {
  text-decoration: none;
}
ul {
  list-style-type: none;
}
button {
  background: none;
  border: none;
  cursor: pointer;
  overflow: visible;
  text-transform: none;
  -webkit-appearance: button;
}
