body {
  font-family: 'Catamaran', sans-serif;
  background: #ececec;
  @include breakpoint($tablet-width) {
    background: #6f6f6f;
  }
  @include breakpoint($desktop-width) {
    background: url('/img/hole.jpg');
  }
}
